// set up a simple neutral simulation
initialize() {
	initializeMutationRate(1e-7);
	
	// m1 mutation type: samples from normal
	initializeMutationType("m1", 0.5, "n", 0.0, 0.01);
	
	// g1 genomic element type: uses m1 for all mutations
	initializeGenomicElementType("g1", m1, 1.0);
	
	// uniform chromosome of length 100 kb with uniform recombination
	initializeGenomicElement(g1, 0, 99999);
	initializeRecombinationRate(1e-8);
}

// create a population of 500 individuals
1 {
	sim.addSubpop("p1", 500);
}

// output samples of 10 genomes periodically, all fixed mutations at end
2000 late() { 
	//samples 10 individuals from population p1
	samp = p1.sampleIndividuals(10);
	//outputs those individauls in MS format
	samp.genomes.outputMS();
	
	//write a script to test the output from this and determine which loci are not in HWE


}
