//p1 - CA
//p2 - Crolutes
//p3 - Gungans
//p4 - Mon Calamari
//p5 - Abednedo
//p6 - Humans
//p7 - Ewoks
//p8 - Wookies
//p9 - Intermediate Wookies
//p10 - Intermeriate Humans
//p11 - Twi'Leks
// set up a simple neutral simulation
initialize() {
	initializeMutationRate(1e-7);
	
	// m1 mutation type: neutral
	initializeMutationType("m1", 0.5, "f", 0.0); //non-coding
	initializeMutationType("m2", 0.5, "f", 0.0); //synonymous
	initializeMutationType("m3", 0.5, "f", 0.01); //non-synonymous
	
	// g1 genomic element type: uses m1 for all mutations
	initializeGenomicElementType("g1", c(m2, m3), c(0.3, 0.6)); //exon
	initializeGenomicElementType("g2", m1, 1.0); //intergenic
	initializeGenomicElementType("g3", m1, 1.0); //intron
	
	
	// uniform chromosome of length 100 kb with uniform recombination
	initializeGenomicElement(g2, 0, 7000);
	initializeGenomicElement(g1, 7001, 11623); //ANGPT2
	initializeGenomicElement(g2, 11624, 14632);
	initializeGenomicElement(g1, 14633, 17004); //HR
	initializeGenomicElement(g2, 17005, 35531);
	initializeGenomicElement(g1, 35532, 36943); //FBN1
	initializeGenomicElement(g2, 36944, 49182);
	initializeGenomicElement(g1, 49183, 53668); //PAX3
	initializeGenomicElement(g2, 53669, 72756);
	initializeGenomicElement(g1, 72757, 77388); //OCA2
	initializeGenomicElement(g2, 77389, 84307);
	initializeGenomicElement(g1, 84308, 87332); //UBR4
	initializeGenomicElement(g2, 87333, 99999);
	initializeRecombinationRate(1e-8);
}

1 {
	sim.addSubpop("p1", 1000);
}

// create a population of 500 individuals
3300 {
	sim.addSubpopSplit("p2", 840, p1);
}

5000 {
	sim.addSubpopSplit("p5", 1250, p1);
}

6600 { sim.addSubpopSplit("p3", 800, p2); }

8300 {
	sim.addSubpopSplit("p9", 1000, p5);
	sim.addSubpopSplit("p10", 1000, p5);
}

// output samples of 10 genomes periodically, all fixed mutations at end
10000 { sim.addSubpopSplit("p4", 1000, p2); }
15000 { 
	p3.setSubpopulationSize(200); 
	sim.addSubpopSplit("p8", 1500, p9);
	sim.addSubpopSplit("p6", 1500, p10);
	sim.addSubpopSplit("p11", 1500, p10);
	sim.addSubpopSplit("p7", 1500, p9);
}
15500{
	sim.addSubpopSplit("p60", 500, p6);
	p60.setMigrationRates(p6, 0.01);
}
15800 { p3.setSubpopulationSize(400); }
20000 {
	p8.setSubpopulationSize(300); 
	p6.setSubpopulationSize(10000);
	p11.setSubpopulationSize(4000);
} 
24800 { p11.setSubpopulationSize(3000); }
25000 late() {p3.outputSample(20);}


