initialize() {
	initializeMutationRate(1e-7);
	initializeMutationType("m1", 0.5, "f", 0.0);         // non-coding
	initializeMutationType("m2", 0.5, "f", 0.0);         // synonymous
	initializeMutationType("m3", 0.1, "g", -0.03, 0.2);  // deleterious
	initializeMutationType("m4", 0.8, "e", 0.1);         // beneficial
	
	initializeGenomicElementType("g1", c(m2,m3,m4), c(2,8,0.01));  // exon
	initializeGenomicElementType("g2", c(m1,m3), c(9,1));       // intron
	initializeGenomicElementType("g3", c(m1), 1);          // non-coding
	initializeGenomicElementType("g4", c(m2,m3,m4), c(2,8,0.1));  // exontype2 (more positive selection)
	
	//non-coding
	ncl = 15000;
	initializeGenomicElement(g3, 0, ncl-1);
	
	s=0;
	
	//ACTG1
	l = 220;
	s = s + ncl;
	for(i in 0:12){

	if(i%2==0)
		initializeGenomicElement(g1, s+i*l, s+(i+1)*l-1);
	else
		initializeGenomicElement(g2, s+i*l, s+(i+1)*l-1);
	
	}
	
	
	//non-coding
	ncl = 20000;
	initializeGenomicElement(g3, s+l*13, s+l*13+ncl-1);
	
	//DLG3
	s = s+l*13+ncl;
	l = 1200;
	
	for(i in 0:50){

	if(i%2==0)
		initializeGenomicElement(g1, s+i*l, s+(i+1)*l-1);
	else
		initializeGenomicElement(g2, s+i*l, s+(i+1)*l-1);
	
	}
	
	//non-coding
	ncl = 26000;
	initializeGenomicElement(g3, s+l*51, s+l*51+ncl-1);
	
	
	//LHX2
	s = s+l*51+ncl;
	l = 1150;
	
	for(i in 0:10){

	if(i%2==0)
		initializeGenomicElement(g1, s+i*l, s+(i+1)*l-1);
	else
		initializeGenomicElement(g2, s+i*l, s+(i+1)*l-1);
	
	}
	
	//non-coding
	ncl = 42000;
	initializeGenomicElement(g3, s+l*11, s+l*11+ncl-1);


	//GRM5
	s = s+l*11+ncl;
	l = 33000;
	
	for(i in 0:16){

	if(i%2==0)
		initializeGenomicElement(g1, s+i*l, s+(i+1)*l-1);
	else
		initializeGenomicElement(g2, s+i*l, s+(i+1)*l-1);
	
	}
	
	//non-coding
	ncl = 30000;
	initializeGenomicElement(g3, s+l*17, s+l*17+ncl-1);
	
	
	//MC4R
	s = s+l*17+ncl;
	l = 1714;
	
	initializeGenomicElement(g1, s, s+l-1);
	
	
	
	
	//non-coding
	ncl = 10000;
	initializeGenomicElement(g3, s+l, s+l+ncl-1);
	
	
	//Opsin
	s = s+l+ncl;
	l = 1300;
	
	for(i in 0:10){

	if(i%2==0)
		initializeGenomicElement(g1, s+i*l, s+(i+1)*l-1);
	else
		initializeGenomicElement(g2, s+i*l, s+(i+1)*l-1);
	}
	
	end = 850000;
	
	//non-coding
	initializeGenomicElement(g3, s+l*11, end); //679999

	
	
	
	
	ends = c(10000,50000,80000,end);
	
	rates = c(1e-7,1e-8,1e-6,1e-8);
	
	
	initializeRecombinationRate(rates,ends);
}

2000 {sim.addSubpopSplit("p2", 500, p1);}

//see manual section 9.2 for explanation of this
//m4 mutations are 10% better in population p2
fitness(m4, p2){
	return relFitness*1.1;
}

1 { sim.addSubpop("p1", 5000); }
10000 { sim.simulationFinished(); }